<a href="https://colab.research.google.com/github/luizvmachado/data-manipulation-exercises/blob/master/Exercicios_unidade_5_Manipulacao_de_Dados_Parte_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.\
Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.\
Salve os dados em uma variável de nome *crime*.

In [1]:
import pandas as pd

In [2]:
crime = pd.read_csv('https://raw.githubusercontent.com/luizvmachado/data-manipulation-exercises/master/datasets/US_Crime_Rates_1960_2014.csv')

#### Tarefa 2. Qual o tipo de dados em cada coluna?

In [3]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

#### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [4]:
crime['Year'] = pd.to_datetime(crime['Year'], yearfirst = True, format='%Y')

In [5]:
crime.dtypes

Year                  datetime64[ns]
Population                     int64
Total                          int64
Violent                        int64
Property                       int64
Murder                         int64
Forcible_Rape                  int64
Robbery                        int64
Aggravated_assault             int64
Burglary                       int64
Larceny_Theft                  int64
Vehicle_Theft                  int64
dtype: object

#### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [6]:
crime =crime.set_index("Year")

In [7]:
crime.head()

            Population    Total  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1960-01-01   179323175  3384200  ...        1855400         328200
1961-01-01   182992000  3488000  ...        1913000         336000
1962-01-01   185771000  3752200  ...        2089600         366800
1963-01-01   188483000  4109500  ...        2297800         408300
1964-01-01   191141000  4564600  ...        2514400         472800

[5 rows x 11 columns]

#### Tarefa 5. Remova a coluna Total do DataFrame.

In [8]:
crime = crime.drop(columns=['Total'])

In [9]:
crime.head()

            Population  Violent  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1960-01-01   179323175   288460  ...        1855400         328200
1961-01-01   182992000   289390  ...        1913000         336000
1962-01-01   185771000   301510  ...        2089600         366800
1963-01-01   188483000   316970  ...        2297800         408300
1964-01-01   191141000   364220  ...        2514400         472800

[5 rows x 10 columns]

#### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [13]:
crime[crime.index == '1978']['Vehicle_Theft']

Year
1978-01-01    1004100
Name: Vehicle_Theft, dtype: int64

#### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [16]:
crime[crime['Murder'] == crime['Murder'].max()]

            Population  Violent  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1991-01-01   252177000  1911770  ...        8142200        1661700

[1 rows x 10 columns]

#### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [18]:
crime[crime['Vehicle_Theft'] == crime['Vehicle_Theft'].min()]['Murder']

Year
1960-01-01    9110
Name: Murder, dtype: int64

**Parabéns! Você chegou ao fim**